*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
.card {
  background-color: pink;
  border-radius: 20px;
  padding: 20px;
  margin : 20px;
}
.navbar {
  background-color: lightblue;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
