*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100;
  background-color: black;
}
button{
  padding: 10px 20px;
  margin: 20px;
}
h1{
  background-color: grey;
  width: fit-content;
  font-size: 100px;
  padding: 70px 70px;
  margin: 20px 160px;
  justify-content: center;
}