* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
 
}
html, body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
.parent{
  justify-content: center;
  align-items: flex-start;
  width:100%;
  background-color: black;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
.card {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 30px;
  padding : 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.top img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid#dadada;
}
.top button{
  background-color: lightgrey;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
  align-items: center;
  gap: 2px;
  display: flex;
}
.center h3{
  font-size: 20px;
  font-weight: 500;
}
.center h3 span{
  font-size: 14px;
  font-weight: 400;
  color: grey;
}
.center h2{
  font-size: 22px;
}
.center .tag{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.center .tag h4{
  background-color: lightgrey;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top:#dadada 1px solid;
  position: relative;
}
.bottom div h3{
  display:flex;
  flex-direction: column;
  font-size: 20px;
}
.bottom div p{
  color: grey;
} 
.bottom div button{
  display: flex;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 1px;
  bottom: 10px;
  flex-direction: column;
  justify-content: flex-end;
}