*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
.parent-card {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  /* justify-content: center;
  align-items: flex-start; */
  position: relative;
  height: 100vh;
  overflow-y: auto;
}
.card {
  width: 300px;
  border: 1px solid black;
  background-color: pink;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px auto;
}
.card p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}
.card button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.card button:hover {
  background-color: grey;
  transform: scale(1.05);
}
